{% extends 'mascindye.html.twig' %}



{% block body %}
	
<div class="d-flex container ">
	<div class="row mt-5 d-flex align-items-center">
		<h1 >Page en construction ✅</h1>
	</div>
</div>
{% endblock %}
