{% extends 'mascindye.html.twig' %}


{% block body %}

	<div class="d-flex container">
		<div class="row mt-5 d-flex align-items-center ">

			<img src="{{asset('mascindye/images/under-construction.jpg')}}"/>

		</div>
	</div>

{% endblock %}
