{% extends 'mascindye.html.twig' %}

{% block title %}Hello CommandeController!
{% endblock %}

{% block body %}
	{# {{dump()}}; #}
	<main class="mb-4 bg-warning">
		<div class="container px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<div class="my-5">
						<h1 class="text-center">Commande</h1>
						{{form(commandeform)}}
					</div>
				</div>
			</div>
		</div>
	</main>
		{# {{dump()}} #}
	{% endblock %}
